In [76]:
import pandas as pd

In [77]:
BOM={}
with open("CO03.txt") as files :
    for filename in files : 
        lines=open(filename.replace("\n","")).readlines()
        for line in lines[10:-1] :    
            spltline=line.split("|")    
            partnr=spltline[2].strip()
            qty=int(float(spltline[4].strip()))
            BOM[partnr] = BOM.get(partnr, 0) + qty

In [83]:
pd.DataFrame(data=[BOM.keys(), BOM.values()]).transpose()

          0    1
0    668436  127
1    676811   29
2   4803949    0
3    678613  640
4    761657   33
5    663010   33
6    711989   33
7    307425   99
8    677519   99
9    700304   85
10   668434   85
11   699121   85
12   700300   42
13   668449   42
14   699119   42
15   676821   33
16  1384299   33
17  5272462    0
18   691188   24
19   681240   44
20   691189   33
21   681266   93
22   681268   48
23   721789   33
24   304789  226
25   653082  193
26  8029109   66
27  8041124   33
28   762027   30
29   762031   30
30   762272   90
31   762022   33
32   762023   66
33   762025   66
34   761403   33
35   364970   33
36   688523   85
37   688519   42
38   688526   33
39   681242    9
40   762026    3
41   762030    3
42   762271    9
43   676810   31
44  4805992    0

dict_values([4, 2, 0, 1, 0, 20, 1, 1, 1, 3, 3, 1, 1, 1, 3, 3, 3, 1, 0, 1, 1, 4, 1, 1, 1, 7, 6, 2, 1, 1, 1, 3, 1, 2, 2, 1, 1, 1, 3, 1])

4

In [50]:
BOM

{'668436': 4}